* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	font-family: 'EB Garamond', serif;
}


h1,
h2,
h3,
h4 {
	font-weight: normal;
}


.title-super {
	font-size: 30px;
	margin: 0.5em auto 0 auto;
	text-align: right;
	color: #fe642e;
}


.title-job {
	font-size: 20px;
	margin: 0 auto 0 auto;
	text-align: right;
	color: #fe642e;
}


.feature-work {
	color: #bcbbbb;
	font-size: 20px;
}


.logo {
	margin: 10px 10px auto 10px;
	width: 90%;
	max-width: 100px;
}


.main-image {
	width : 100%;
}


.work-title {
	font-size: 20px;
	margin: 0.5em auto 0 auto;
	text-align: center;
}


.work-img {
	max-width: 150px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.link {
	font-size: 12px;
	margin: 0em auto 0.25em auto;
	text-align: center;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}


.col-1 {
    width: 8.33%;
}


.col-2 {
    width: 16.66%;
}


.col-3 {
    width: 25%;
}


.col-4 {
    width: 33.33%;
}


.col-5 {
    width: 41.66%;
}


.col-6 {
    width: 50%;
}


.col-7 {
    width: 58.33%;
}


.col-8 {
    width: 66.66%;
}


.col-9 {
    width: 75%;
}


.col-10 {
    width: 83.33%;
}


.col-11 {
    width: 91.66%;
}


.col-12 {
    width: 100%;
}


@media screen and (min-width: 770px) {
	.grid {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}


	.title-super {
		font-size: 40px;
		margin-top: 0.25em;
	}


	.title-job {
		font-size: 30px;
	}


	.work-title {
		font-size: 25px;
	}


	.link {
		font-size: 15px;
	}
}


@media screen and (max-width: 600px) {
	.title-super {
		font-size: 25px;
		margin-top: 0.8em;
	}


	.title-job {
		font-size: 15px;
	}


	.work-title {
		font-size: 15px;
		margin-bottom: 10px;
	}


	.link {
		display: none;
	}


	.row {
		flex-wrap: wrap;
	}


	.col-4 {
		width: 100%;
	}
}

